<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs') %>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>

    <h1>Si califica </h1>
    <table>
        <% for(var i=0; i < formatDataJS.predictions.length; i++) { %>
            <% for(var j=0; j < formatDataJS.predictions[i].fields.length; j++) { %>
                <tr>
                    <td><%= formatDataJS.predictions[i].values[j] %></td>
                </tr>
            <% } %>  
        <% } %>
    </table>
     
</body>
</html>