<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <form method="post" id="datos">
                <input type="number" name="CustomerID" id="CustomerID" placeholder="Identificaci처n" class="form-control">
                <br>
                <input type="number" name="Age" id="Age" placeholder="Edad" class="form-control">
                <br>
                <input type="number" name="MonthsCustomer" id="MonthsCustomer" placeholder="N째 de Meses como cliente" class="form-control">
                <br>
                <input type="number" name="NumberProducts" id="NumberProducts" placeholder="N째 de productos " class="form-control">
                <br>
                <input type="number" name="Average" id="Average" placeholder="Average Balance Feed Index" class="form-control">
                <br>
                <input type="number" name="EquityRatio" id="EquityRatio" placeholder="Personal Debt to Equity Ratio" class="form-control">
                <br>
                <input type="number" name="HasBadPayment" id="HasBadPayment" placeholder="Historial de pago incorrecto" class="form-control">
                <br>
                <input type="text" name="MaritalStatus" id="MaritalStatus" placeholder="Estado Marital" class="form-control">
                <br>
                <input type="number" name="YoungestChild" id="YoungestChild" placeholder="Edad del hijo menor" class="form-control">
                <br>
                <input type="number" name="WorkersHousehold" id="WorkersHousehold" placeholder="N째 de trabadores en casa" class="form-control">
                <br>
                <input type="number" name="Income" id="Income" placeholder="Salario" class="form-control">
                <br>
                <input type="submit" value="Predecir" class="btn btn-primary">
                <input type="submit" value="Generar" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>