<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
  </head>
  <body>
    <%- include ('partials/navigation.ejs') %> 
    <%- include ('./consultForm.ejs') %>
        
  </body>
</html>
