<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--BOOTSTRAP-->
<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
<title>Banco Gestión del Conocimiento</title>
<!--JAVASCRIPT-->
<script type="text/javascript" src="../index.js"></script>
<!--SWET ALERT 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>